---

- name: Ansible Playbook for setting up a brand new Raspberry Pi
  hosts: pis
  roles:
    - pi
    - role: openvpn-client
      premiumize:
          customer_id: "your_customer_id"
          pin: "your_pin"
  remote_user: pi
  become: yes
  become_method: sudo
